@model IEnumerable<DayList>

@{
    var eventDayList = ViewBag.EventDayList as List<CalendarEventDate>;
    var eventList = ViewBag.EventList as List<CalendarEventCategory>;
}

<div class="col-12 table-responsive">
    <table class="table table-bordered text-center p-2 mb-2 shadow">
        <thead>
            <tr class="bg-info" style="border: 3px solid black;">
                <th class="pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Sun</th>
                <th class="pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Mon</th>
                <th class="pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Tue</th>
                <th class="pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Wed</th>
                <th class="pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Thu</th>
                <th class="pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Fri</th>
                <th class="bg-opacity-90 bg-danger pt-3 pb-3" style="font-weight: bolder; font-size: 20px;">Sat</th>
            </tr>
        </thead>
        <tbody class="mt-2">
            @{
                int maxval = Model.Max(m => m.Day);
                int year = Model.Min(m => m.Year);
                int month = Model.Min(m => m.Month);
                int count = 1;
                DateTime currentDate = Model.Min(m => m.EnglishDate);
                int startDayOfWeek = (int)currentDate.DayOfWeek;
                int offset = (startDayOfWeek + 7) % 7;
                //finding the total box
                int totalbox = offset + maxval;
                //finding the remaining box to fit
                int remain = totalbox - 35;
                //finding the new value
                int newVal = maxval - remain + 1;
                count = 1 - offset;

            }
            @for (int i = 0; i < 5; i++)
            {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {
                        <td style="border: 1px solid black;">
                            @{
                                string tdColor = "black";
                                if (j == 6)
                                {
                                    tdColor = "red";
                                }
                            }
                            @if (count > 0 && count <= maxval)
                            {
                                string today = year + "-" + month + "-" + count;
                                foreach (var item in eventDayList)
                                {
                                    foreach (var item2 in eventList)
                                    {
                                        if (item.NepaliDate == (today) && item.EventName == item2.EventName && item2.RemarkPosition == "InPlace")
                                        {
                                            tdColor = item2.EventColor;
                                            <span style="float: left;color: @tdColor">@item.EventDescription</span>
                                            <br />
                                        }
                                        if (item.NepaliDate == (today) && item.EventName == item2.EventName && item2.RemarkPosition == "None")
                                        {
                                            tdColor = item2.EventColor;
                                        }
                                    }
                                }
                                <a class="btn" asp-controller="ApiEventDate" asp-action="Index" asp-route-param="@year-@month-@count" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <span style="color: @tdColor ; font-size: 20px; font-weight:bold;">@count</span>
                                </a>
                                <br />
                                <span style="float: right; color: @tdColor">@Model.First(d => d.Year == year && d.Month == month && d.Day == count).EnglishDate.Day</span>
                            }
                            @if (newVal <= maxval)
                            {
                                string today = year + "-" + month + "-" + newVal;
                                foreach (var item in eventDayList)
                                {
                                    foreach (var item2 in eventList)
                                    {
                                        if (item.NepaliDate == (today) && item.EventName == item2.EventName && item2.RemarkPosition == "InPlace")
                                        {
                                            tdColor = item2.EventColor;
                                            <span style="color: @tdColor">@item.EventDescription</span>
                                            <br />
                                        }
                                        if (item.NepaliDate == (today) && item.EventName == item2.EventName && item2.RemarkPosition == "None")
                                        {
                                            tdColor = item2.EventColor;
                                        }
                                    }
                                }
                                <a class="btn" asp-controller="ApiEventDate" asp-action="Index" asp-route-param="@year-@month-@newVal" data-ajax="true" data-ajax-method="get" data-ajax-update="#page" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <span style="color: @tdColor ; font-size: 20px; font-weight:bold;">@newVal</span>
                                </a>
                                <br />
                                <span style="float: right; color: @tdColor">@Model.FirstOrDefault(d => d.Year == year && d.Month == month && d.Day == newVal).EnglishDate.Day</span>
                            }
                        </td>
                        count++;
                        newVal++;
                    }
                </tr>
            }
        </tbody>
    </table>
    <ul class="list list-group list-group-horizontal-lg m-3" style="font-size: 20px; list-style: none;">
        @foreach (var item in eventDayList)
        {
            foreach (var item2 in eventList)
            {
                if (item.EventName == item2.EventName && item2.RemarkPosition == "Footer")
                {
                    <li class="list-group-item" style="color: @item2.EventColor">@item.EventDescription at @item.NepaliDate</li>
                }
            }
        }
    </ul>

    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" id="page">
        </div>
    </div>
</div>